/* global variables */
:root {
    --main-color:coral;
}
/* end global variables */
* {
 box-sizing: border-box;
 margin: 0;   
}
body {
    font-family: 'Raleway', sans-serif;
}

/*================================== selection ================================== */
::selection {
    color: black;
    background-color: var(--main-color);
}
/* ================================== selection ==================================*/

/*================================== scroll ================================== */
::-webkit-scrollbar{
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ================================== scroll ==================================*/
header {
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(236, 233, 233);
    box-shadow: 0 3px 20px rgba(204, 203, 203, 0.6);
}
.contanier {
 padding-left: 20px;
 padding-right: 20px;
 margin-left: auto ;
 margin-right: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.contanier .logo {
    width:40px ;
    color: var(--main-color);
    font-size: 36px;
}
.contanier .links{
  position: relative;
}
.contanier .links .icon {
   width: 30px;
}
.contanier .links .icon:hover {
   cursor: pointer;
}
 
.contanier .links:hover ul {
    display: block;
}
.contanier ul {
    display: none;
    list-style: none;
    right: 0;
    position: absolute;
    min-width: 200px;;
    background-color: white;
    top: calc(100% + 30px);
    margin: 0;
    padding: 0;
    z-index: 1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.contanier ul li{
 padding: 10px;
}
.contanier ul li:not(:last-child) {
 margin-bottom: 10px;
 border-bottom: 1px solid rgb(187, 186, 186);
}

.contanier ul li  a{
    text-decoration: none;
    width: 100%;
    color: var(--main-color);
    font-weight: bold;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.contanier ul li  a:hover{
   padding-left: 15px;
}



/* <!-- end header --> */

/* <!-- main landing --> */

.main-landing {
    height: calc(100vh - 63px);
    background-image: url("/img/mainlanding.jpeg");
    position:relative;
    background-size: cover;
}

main .main-landing .text-landing {
    line-height: 2;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.main-landing h2 {
  color: aliceblue;  
}
.main-landing span {
    color: var(--main-color);
    letter-spacing: 2px;
    text-transform: capitalize;
}
 /* <!-- end main landing --> */
 /* <!-- works --> */
 
 .main-works {
     background-color: white;
     padding-top:60px ;
     padding-bottom: 60px;
    
 }
 .main-works .container {
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 grid-gap: 20px;
  align-content: center;  
 }

.main-works .container .works {
    text-align: center;
    padding: 10px;
    line-height: 2;
    
}
.main-works .container .works i {
   color: var(--main-color);
   font-size: 40px;
}
.main-works .container p {
   font-style: italic;
        white-space: wrap; 
    text-overflow: ellipsis;
}
   /* <!--end  works --> */




   /* # Mobile */
@media (min-width: 480px)
{
.contanier {
 width: 450px;
}
.main-landing .text-landing {
    line-height: 1;
    
}
 
}
/* # Tablet */
@media (min-width: 768px) 
{
.contanier {
 width: 750px;
}
}
/* # Desktop */
@media (min-width: 992px)
{
.contanier {
 width: 950px;
}   
}
/* # Huge */
@media(min-width: 1280px) 
{
.contanier {
 width: 1150px;
}   

 .main-works .container {
 grid-template-columns: repeat(auto-fill,minmax(401px,1fr));
 } 
}
@media(min-width: 1700px) 
{

 .main-works .container {
 grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
 } 
}