/* global variables */
:root {
  --main-color: coral;
  --secondary-color: white;
  --therd-color: black;
  --shadow-color: rgba(204, 203, 203, 0.6);
  --head-links: rgb(168, 168, 168);
  --min-grid-width: 300px;
  --p1: 10px;
  --p2: 20px;
  --border-R: 5px;
  --border-R2: 10px;
  --border-solid: 1px;
  --shadow-blur: 20px;
  --width-logo: 40px;
  --width-icon: 30px;
  --transition-s: 0.2s;
}
/* end global variables */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*================================== selection ================================== */
::selection {
  color: var(--therd-color);
  background-color: var(--main-color);
}
/* ================================== selection ==================================*/

/*================================== scroll ================================== */
::-webkit-scrollbar {
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border-R);
  -webkit-border-radius: var(--border-R);
  -moz-border-radius: var(--border-R);
  -ms-border-radius: var(--border-R);
  -o-border-radius: var(--border-R);
}

/* ================================== scroll ==================================*/
header {
  background-color: var(--secondary-color);
  padding: var(--p1);
  border: var(--border-solid) solid var(--secondary-color);
  box-shadow: 0 3px 20px var(--shadow-color);
}
.contanier {
  padding-left: var(--p2);
  padding-right: var(--p2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contanier .logo {
  width: var(--width-logo);
  color: var(--main-color);
  font-size: 36px;
}
.contanier .links {
  position: relative;
}
.contanier .links .icon {
  width: var(--width-icon);
}
.contanier .links .icon:hover {
  cursor: pointer;
}

.contanier .links:hover ul {
  display: block;
}
.contanier ul {
  display: none;
  list-style: none;
  cursor: pointer;
  right: 0;
  position: absolute;
  min-width: 200px;
  background-color: white;
  top: calc(100% + 0px);
  margin: 0;
  padding: 0;
  z-index: 1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.contanier ul li {
  padding: var(--p1);
}
.contanier ul li:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-color);
}
.contanier ul li:hover  {
  background-color: var(--main-color);
}
.contanier ul li a {
  text-decoration: none;
  width: 100%;
  color: var(--therd-color);
  font-weight: bold;
  transition: var(--transition-s);
  -webkit-transition: var(--transition-s);
  -moz-transition: var(--transition-s);
  -ms-transition: var(--transition-s);
  -o-transition: var(--transition-s);
}

.contanier ul li:hover a {
  padding-left: 15px;
}

/* <!-- end header --> */

/* <!-- main landing --> */

.main-landing {
  height: calc(100vh - 63px);
  background-image: url("/img/mainlanding.jpeg");
  position: relative;
  background-size: cover;
}

main .main-landing .text-landing {
  line-height: 2;
  color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1.3;
  padding: var(--p1);
  border-radius: var(--border-R);
  background-color: var(--therd-color);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: var(--border-R);
  -moz-border-radius: var(--border-R);
  -ms-border-radius: var(--border-R);
  -o-border-radius: var(--border-R);
}
main .main-landing:hover .text-landing > h2 {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  background-color: var(--main-color);
  border-radius: var(--border-R2);
  -webkit-border-radius: var(--border-R2);
  -moz-border-radius: var(--border-R2);
  -ms-border-radius: var(--border-R2);
  -o-border-radius: var(--border-R2);
  color: var(--secondary-color);
}
main .main-landing:hover .text-landing span {
  color: var(--therd-color);
}
.main-landing h2 {
  color: var(--secondary-color);
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.main-landing span {
  color: var(--main-color);
  letter-spacing: 2px;
  text-transform: capitalize;
}
/* <!-- end main landing --> */
/* <!-- works --> */

.main-works {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-works .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--p2);
  align-content: center;
}

.main-works .container .works {
  text-align: center;
  padding: var(--p1);
  line-height: 2;
}
.main-works .container .works i {
  color: var(--main-color);
  font-size: 40px;
}
.main-works .container p {
  font-style: italic;
  white-space: wrap;
  text-overflow: ellipsis;
}
/* <!--end  works --> */

/* services */

.services-head {
  text-align: center;
  margin: 100px 0 70px 0;
  padding: 30px;
}
.services-head h4 {
  transition-duration: 1s;
  font-size: 80px;
  color: var(--head-links);
}

.services-head:hover h4 {
  color: var(--main-color);
  /* cursor: not-allowed; */
}
.services {
  margin-top: 40px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 40px;
}
.services .services-content .serv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
/*    animation  */
.services:hover .serv {
  animation: show 1.5s linear 1 normal;
  -webkit-animation: show 1.5s linear 1 normal;
}

@keyframes show {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/*    animation  */

.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 40px;
}
.services .services-content .serv h4 {
  margin: 0 10px 20px;
}
.services .services-content .serv .txt {
  color: rgb(139, 139, 139);
  font-style: italic;
}
.services .services-content .col .imge {
  position: relative;
  text-align: center;
  top: 40px;
}
.services .services-content .col .imge::before {
  content:'';
  position: absolute;
  width: 100px;
  background-color: var(--main-color);
  right: 0;
  height: calc(100% + 80px);
  top: -40px;
  z-index: -1;
}
.services .services-content .col .imge img {
  width: 260px;
  height: 360px;
}
/* end services */
/* skills */
.skills {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 30px;
}
.skills .contanier {
  display: flex;
  flex-direction: column;
}
.skill {
  background-color: var(--secondary-color);
  padding: 30px;
  border-left: 10px dotted var(--main-color);
  width: 100%;
  margin-bottom: 30px;
}
.skill .skill-head {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.skill .skill-head i {
  margin-right: 30px;
  font-size: 40px;
  color: var(--main-color);
}
.skill .txt p {
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
progress {
  border: none;
  width: 300px;
  height: 20px;
}

progress {
  color: var(--main-color);
}

progress::-webkit-progress-value {
  background:var(--main-color);
}

progress::-moz-progress-bar {
  background: lightcolor;
}
/* end skills */
/* about me */
  .aboutme {
    margin-top: 60px;
    margin-bottom: 60px;
  }
 .aboutme .note {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
 }
  .aboutme .note .imge2 {
   position: relative;
    text-align: center;
  }
 
 .aboutme .note .imge2::after {
   content:'';
   position: absolute;
   height: calc(100% + 40px);
   width: 300px;
   background-color: var(--main-color);
   top: -40;
   left: 0;
   z-index: -40;
 }
  .aboutme .note .imge2 img {
   width: 300px; 
   height: 400px;
  }

 .aboutme .text {
   font-size: larger;
   line-height: 2;
 }
 .aboutme .text span {
   color: var(--main-color);
   font-weight: bold;
  text-shadow: 2px 2px  var(--head-links);
 }
  .aboutme .text hr {
   background-color: red; height: 1px; border: 0;
 }
 .aboutme .text p:last-child {
   color: var(--head-links);
 }
/* end about */
/* footer */
footer {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 30px;
  margin-bottom: 0;
}
footer p:first-child {
  padding: 10px 0 0 20px;
}
footer .mail {
  text-align: center;
  font-size: 30px;
}
footer .mail a {
  text-decoration: none;
  color: var(--therd-color);
}
footer p:last-child {
  font-weight: bold;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

/* end footer */



/* # Mobile */
@media (min-width: 480px) {
  .contanier {
    width: 450px;
  }
  .main-landing .text-landing {
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .services-head h4 {
    font-size: 50px;
  }
}
@media (max-width: 780px) {
  .services .services-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer .mail {
    font-size: 10px;
  }
}
/* # Tablet */
@media (min-width: 768px) {
  .contanier {
    width: 750px;
  }
}
/* # Desktop */
@media (min-width: 992px) {
  .contanier {
    width: 950px;
  }
}
/* # Huge */
@media (max-width: 1279px) {
  .services .services-content .col .imge {
    display: none;
  }
}
@media (min-width: 1280px) {
  .contanier {
    width: 1150px;
  }

  .main-works .container {
    grid-template-columns: repeat(auto-fill, minmax(401px, 1fr));
  }
}
@media (min-width: 1700px) {
  .main-works .container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
